/* Styles for Mobile devices */
* {
  box-sizing: border-box;
}
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
  font-family: 'Montserrat', sans-serif;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  section {
    padding-top: 50px;
    width: fit-content;
    margin: 0 auto;
  }
  .controls {
    margin-bottom: 40px;
  }
  #datetime-picker {
    border-radius: 4px;
    width: 272px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding-left: 16px;
  }
  #datetime-picker:disabled {
    background-color: white;
    cursor: auto;
    color: black;
    opacity: 0.2;
  }
  button[data-start] {
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 46px;
    background-color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: black;
  }
  button[data-start]:disabled {
    background-color: white;
    color: black;
    opacity: 0.2;
    cursor: auto;
  }
  .timer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .field {
    display: flex;
    flex-direction: column;
    width: calc((100% - 72px) / 4);
  }
  .value {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
  }
  .label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
  }

  .snackbar {
    width: 320px;
  }
  input[type='number'] {
    display: block;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .form > label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
  }
  .form > label > input {
    width: 100%;
    padding: 12px 8px;
    margin: 0;
  }
  fieldset {
    width: 100%;
    padding: 12px 8px;
    margin: 0;
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
  }
  legend {
    text-align: left;
  }
  .form button[type='submit'] {
    display: block;
    width: 100%;
    padding: 16px 0;
    border-radius: 8px;
    background-color: #4e75ff;
    border: none;
    color: #fff;
  }
}
